* {
    font-family:'Courier New', Courier, monospace
}

header {
    margin-top: 8rem;
    margin-bottom: 4rem;
    text-align: center;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

#Questions {
    text-align: center;
    margin: 3rem 5%;
}

#Questions ul {
    margin: 3rem;
    padding: 0;
    display: inline-block;  
    list-style-type: none;
}

#Questions li {
    box-sizing: border-box;
    border-style: solid;
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(255, 0, 0);
    font-weight: bold;
    color: white;
    font-size: x-large;
}

#Questions li:hover {
    transition: all .2s;
    transform: scale(1.05);
    background-color: rgb(95, 250, 64)
}

#highscores:hover {
    transition: all .5s;
    transform: scale(1.1);
    background-color: rgb(255, 0, 0)
}

#highscores {
    position: absolute;
    left: 0%;
    top: 0%;
    text-align: center;
    border-style: solid;
    margin: 1rem 2rem;
    padding: 1rem 2rem;
}

#save-highscore {
    display: none;
    margin: 8rem 20%;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
}

#start-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit-initial {
    margin: 0 1rem;
    background-color: rgb(255, 0, 0)
}

#submit-initial:hover {
    transition: all .5s;
    transform: scale(1.1);
    background-color: rgb(95, 250, 64)
}

#start-button {
    padding: 1rem 2rem;
    background-color: rgb(255, 0, 0)
}

#start-button:hover {
    transition: all .5s;
    transform: scale(1.1);
    background-color: rgb(95, 250, 64)
}

#timer {
    position: absolute;
    right: 0%;
    top: 0%;
    text-align: center;
    border-style: solid;
    margin: 1rem 2rem;
    padding: 1rem 2rem;
}

#Answer {
    list-style-type: none;
    text-align: center;
    transition: all .3s;
}
.hide-container > * {
    display: none;
}


